body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    color: white;
    margin-top: 50px;
}

a {
    color: orange;
}

.main {
    display: block;
    margin: 0 auto;
    justify-content: center;
    margin: 0 auto;
}

.block-1 {
    text-align: center;
}

.block-2 {
    text-align: center;
}