body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

#title {
    font-weight: 800;
    font-size: 35px;
}

#landing {
    padding: 100px 300px 100px 300px;
}

.main {
    padding: 30px 40px 60px 40px;
    background-image: url(img/faded-office.png);
    background-size: cover;
    border: 1px dotted blue;
    box-shadow: 0px 0px 1px black;

}

#underlink {
    border-bottom: 4px solid #0ea5e9;
}

#btn {
    margin-top: 20px;
    padding: 15px 25px;
    background: #0ea5e9;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

#desc {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}